.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.nav {
  list-style-type: none;
  width: 150px;
  display: flex;
  justify-content:space-around;
}
.orderBtn {
  align-items: center;
}

.home-image {
  max-width: 600px;
  max-height: 600px;
}